tms_meg_code1.0
megnet2022.1
bids_example_data
mne1.0
mne_bids_pipeline0.1dev
mne_bids_pipeline0.2dev
tms_meg_code1.0_extras
frites_dset.zip
frites_dset
mne_hcp0.1
tms_meg_code1.1
tms_meg_code1.1_extras
mne_spyder
mne_hcp0.1_extra
mne_scripts0.1_dev/nih_to_mne/
SAMsrcV5/
mne_bids_pipeline0.3dev
BiomagPosters2022.zip
bids_example_data_airpuff.tar
bids_example_data_airpuff
